{% extends "main/layout.html" %} {% block title %} Главная страница {% endblock %} {% block content %}
<div class="container">
    <aside class="sidebar">
        <h2 class="filters">Фильтры:</h2>
        <div class="filter-group">
            <div class="filter-block">
                <div class="filter-title">Назначение:</div>
                <label><input type="radio" name="purpose"> редактор текста</label>
                <label><input type="radio" name="purpose"> бухгалтерия</label>
                <label><input type="radio" name="purpose"> общение</label>
                <label><input type="radio" name="purpose"> работа</label>
                <label><input type="radio" name="purpose"> развлечения</label>
            </div>
            <div class="filter-block">
                <div class="filter-title">Цена:</div>
                <label><input type="radio" name="price"> бесплатно</label>
                <label><input type="radio" name="price"> дорого</label>
            </div>
            <div class="filter-block">
                <div class="filter-title">Устройство:</div>
                <label><input type="radio" name="device"> телефон</label>
                <label><input type="radio" name="device"> пк</label>
            </div>
            <div class="filter-block">
                <div class="filter-title">Доступность:</div>
                <label><input type="radio" name="access"> скачал и запустил</label>
                <label><input type="radio" name="access"> надо разобраться</label>
                <label><input type="radio" name="access"> 3 высших</label>
            </div>
        </div>
        <a href="{% url 'favourites' %}" class="abort">
            <p class="star">★</p> Избранное</a>
    </aside>
    <main class="main">
        <h1>Избранное:</h1>
        <div id="output"></div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const savedData = localStorage.getItem('favoritesDictionary');
                const output = document.getElementById('output');
                let html = ``
                if (savedData) {
                    const favoritesDictionary = JSON.parse(savedData);
                    const arr_keys = []
                    Object.keys(favoritesDictionary).forEach(item => {
                        html += `<h3 class = "output"> ${item}</h3>` //!!!!!!!!!!
                    });
                    console.log(favoritesDictionary)
                } else {
                    html += `<h3 class = "output"> Избранных пока нет </h3>`
                }
                output.innerHTML = html
            });
        </script>
        <button class="btn-clear" onclick="clearDictionary()">🗑️ Очистить словарь</button>
        <script>
            function clearDictionary() {
                const savedData = localStorage.getItem('favoritesDictionary');
                const favoritesDictionary = JSON.parse(savedData);
                Object.keys(favoritesDictionary).forEach(key => {
                    delete favoritesDictionary[key];
                });
                localStorage.removeItem('favoritesDictionary');
                location.reload()
            }
        </script>
    </main>
    <aside class="recommendations">
        <h2>Рекомендации:</h2>
        <div class="rec-item">
            <a class="rec-text" href="https://max.ru/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Max_logo_2025.png" alt="MAX" class="rec-icon"> - месенджер</a>
            <a class="rec-text" href="https://dzen.ru" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Yandex_icon.svg" alt="Яндекс" class="rec-icon"> - поисковик</a>
            <a class="rec-text" href="https://elma365.com/ru/" target="_blank"><img src="https://softline.ru/upload/iblock/276/qldcbie6vmyo7mtnsqr74j95rpxl97nn/elma_color_1024.png" alt="VK" class="rec-icon"> - документооборот</a>
            <a class="rec-text" href="https://1c.ru/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/93/1C_Company_logo.svg" alt="Поиск" class="rec-icon"> - все для предпринимателей</a>
            <a class="rec-text" href="https://www.kaspersky.ru/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Kaspersky_logo.svg" alt="Поиск" class="rec-icon"> - антивирус</a>
            <a class="rec-text" href="https://rosa.ru/r7-office/" target="_blank"><img src="https://www.irisoft.ru/wp-content/uploads/2022/09/r7o.png" alt="Поиск" class="rec-icon"> - текстовый редактор</a>
        </div>
        <a href="{% url 'main' %}" class="abort-home">
            <p class="house">🏠︎</p>
        </a>
    </aside>
</div>


{% endblock %}