<!DOCTYPE html>
<html lang="ru" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SoftGuide{% endblock %}</title>


    <!-- ====== CSS ====== -->
    <link rel="stylesheet" href="static/style.css">


    <!-- ====== FONTS ====== -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">


    <!-- ====== ICON ====== -->
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/888/888879.png">
</head>

<body>


    {% block content %}{% endblock %}


</body>

</html>